Repository getto-systems/labo-container-dockerfile: changes, and which GitLab CI jobs are due for each by the changed paths.
All: image_build, release, release_success, release_failure

image_build:
  stage: image_build
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
    DOCKER_CONTENT_TRUST: 1
  services:
  - docker:dind
  cache:
    paths:
    - .cache
  script:
  - getto-hangar-build.sh

release:
  stage: release
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
    DOCKER_CONTENT_TRUST: 1
  services:
  - docker:dind
  script:
  - curl https://trellis.getto.systems/ci/bump-version/1.3.0/push_tags.sh | bash
  - getto-hangar-push_latest.sh getto/labo-container

release_success:
  stage: release_notify
  when: on_success
  image: buildpack-deps:disco-curl
  before_script:
  - export channel=$SLACK_CHANNEL
  script:
  - curl https://trellis.getto.systems/psycher/getto/2.5.6/notify-release.sh | bash -s -- -l $GETTO_PSYCHER_URL?$GETTO_PSYCHER_TOKEN=true success

release_failure:
  stage: release_notify
  when: on_failure
  image: buildpack-deps:disco-curl
  before_script:
  - export channel=$SLACK_CHANNEL
  script:
  - curl https://trellis.getto.systems/psycher/getto/2.5.6/notify-release.sh | bash -s -- -l $GETTO_PSYCHER_URL?$GETTO_PSYCHER_TOKEN=true failure

version bumped: 2.7.0
  .release-version
  CHANGELOG.md
Due: release, release_success, release_failure

fix: vulnerabilities
  Dockerfile
Due: image_build

version bumped: 2.8.0
  .release-version
  CHANGELOG.md
Due: release, release_success, release_failure

version bumped: 2.9.0
  .release-version
  CHANGELOG.md
Due: release, release_success, release_failure

add: textlint
  Dockerfile
Due: image_build

version bumped: 2.10.0
  .release-version
  CHANGELOG.md
Due: release, release_success, release_failure

update: os
  .dockleignore
  Dockerfile
  entrypoint.sh
Due: image_build

fix: dockleignore
  .dockleignore
Due: none

version bumped: 2.11.0
  .release-version
  CHANGELOG.md
Due: release, release_success, release_failure

fix: base image
  Dockerfile
  entrypoint.sh
Due: image_build

fix: DOCKER_CONTENT_TRUST
  .gitlab-ci.yml
Due: none

fix: gitlab-ci
  .gitlab-ci.yml
  .markdownlint.yaml
Due: none

fix: gitlab-ci
  .gitlab-ci.yml
Due: none

version bumped: 2.12.0
  .release-version
  CHANGELOG.md
Due: release, release_success, release_failure

version bumped: 2.12.1
  .release-version
  CHANGELOG.md
Due: release, release_success, release_failure

add: core utils
  Dockerfile
Due: image_build

version bumped: 2.13.0
  .release-version
  CHANGELOG.md
Due: release, release_success, release_failure

add: which
  Dockerfile
Due: image_build

version bumped: 2.14.0
  .release-version
  CHANGELOG.md
Due: release, release_success, release_failure

fix: gitlab-ci
  .gitlab-ci.yml
  Dockerfile
Due: image_build

version bumped: 2.15.0
  .release-version
  CHANGELOG.md
Due: release, release_success, release_failure

version bumped: 2.15.1
  .release-version
  CHANGELOG.md
Due: release, release_success, release_failure

version bumped: 2.15.2
  .release-version
  CHANGELOG.md
Due: release, release_success, release_failure

version bumped: 2.15.3
  .release-version
  CHANGELOG.md
Due: release, release_success, release_failure

version bumped: 2.15.4
  .release-version
  CHANGELOG.md
Due: release, release_success, release_failure

add: libffi
  Dockerfile
Due: image_build

version bumped: 2.16.0
  .release-version
  CHANGELOG.md
Due: release, release_success, release_failure

add: docker user
  Dockerfile
Due: image_build

version bumped: 2.17.0
  .release-version
  CHANGELOG.md
Due: release, release_success, release_failure

version bumped: 2.17.1
  .release-version
  CHANGELOG.md
Due: release, release_success, release_failure

fix: gitlab-ci
  .getto-hangar-trivy-opts
  .gitlab-ci.yml
  .message/bump.sh
  .message/fix-image.sh
  .message/fix-vulnerabilities.sh
  Dockerfile
Due: image_build

version bumped: 2.18.0
  .release-version
  CHANGELOG.md
Due: release, release_success, release_failure

Path conditions:
  image_build: any of: Dockerfile
  release: any of: .release-version
  release_success: any of: .release-version
  release_failure: any of: .release-version
